@page "/signup"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using VitakorProb.Interfaces
@using VitakorProb.Model

@inject NavigationManager Navigation
@inject IUserService UserService
@inject IAuthService AuthService


<h3>Signup</h3>

<EditForm Model="Model" OnValidSubmit="Submit" FormName="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <label>
        <InputText placeholder="Email" DisplayName="Email" @bind-Value="Model!.Email"/>
    </label>

    <label>
        <InputText placeholder="Password" type="password" DisplayName="Password" @bind-Value="Model!.Password"/>
    </label>

    <button type="submit">Регистрация</button>
</EditForm>
@code {
    [CascadingParameter] 
    public HttpContext? HttpContext { get; set; }
    
    [SupplyParameterFromForm]
    private SignupModel? Model { get; set; }
    
    public class SignupModel
    {
        [Required]
        public string Email { get; set; }
        [Required]
        public string Password { get; set; }
    }
    
    protected override void OnInitialized() => Model ??= new();

    private async Task Submit()
    {
        var userCandidate = new User()
        {
            Email = Model.Email,
            Password = Model.Password
        };
        
        var createdUser = await UserService.Signup(userCandidate);

        var claimsPrincipal = AuthService.CreateClaims(createdUser);
        
        await HttpContext.SignInAsync(
            CookieAuthenticationDefaults.AuthenticationScheme, 
            claimsPrincipal);
        
        Navigation.NavigateTo("/auction");
    }
}